<h2>商品一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>商品名</th>
      <th>感想</th>
    </tr>
  </thead>

<% if @.errors.any? %>
  <%= @user.errors.count %>errors prohibited this user from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to user_path(item.user_id) do %>
            <%= image_tag item.user.get_profile_image(80,80) %>
          <% end %>
          </td>
        <td>
          <%= link_to item_path(item.id) do %>
            <%= item.title %>
          <% end %>
          </td>
        <td><%= item.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
